*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Poppins", sans-serif;
}

span,
a,
p,
li {
  font-family: "Poppins", "Montserrat", sans-serif;
}

h2 {
  font-size: 35px;
  margin: 25px 0;
  text-align: center;
}

h3 {
  font-size: 30px;
  margin: 25px 0;
}

h4 {
  font-size: 18px;
}

section {
  width: 100%;
  position: relative;
  padding: 30px 15px;
  &:nth-child(odd) {
    background-color: $bg-color;
  }
}
