.contact {
  max-width: $text-width;
  margin: 0 auto;
  @media screen and (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h2 {
      margin: 0 300px;
    }
  }
  &_form {
    width: 100%;
    max-width: $text-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1000px) {
      max-width: 50%;
      margin: 0;
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 20px;
      color: $main-blue;
      font-size: 18px;
      max-width: 400px;
      margin: 20px 0;
      input {
        width: 100%;
        padding: 10px;
        background-color: $bg-color;
        border: 1px solid $main-blue;
      }
      span {
        width: 100%;
        justify-self: flex-start;
        padding-left: 10px;
      }
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        max-width: 400px;
        background-color: $bg-color;
        resize: none;
        padding: 10px;
        border: 1px solid $main-blue;
      }
    }
    .submit_button {
      width: 165px;
      height: 65px;
      margin-top: 30px;
      background-color: $main-blue;
      font-size: 16px;
      color: white;
      font-weight: 500;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        border: 2px solid $main-blue;
        background-color: white;
        color: $main-blue;
      }
    }
  }
  &_social {
    width: 100%;
    @media screen and (min-width: 1000px) {
      width: 10%;
      height: 100%;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      max-width: 500px;
      margin: 50px auto 0 auto;
      border-top: 1px solid black;
      @media screen and (min-width: 1000px) {
        height: 100%;
        border-left: 1px solid black;
        border-top: none;
        flex-direction: column;
        margin: 0 50px;
      }
      li {
        position: relative;
        list-style: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        transition: 0.15s ease-in;
        display: grid;
        place-items: center;
        color: $main-blue;
        margin: 5px 20px;

        &::before {
          position: absolute;
          content: "";
          left: 50%;
          top: 50%;
          transform: translate(-50%, -55%);
          width: 0px;
          height: 0px;
          background-color: $main-blue;
          border-radius: 50%;
          z-index: -1;
          transition: 0.15s ease-in;
        }
        &:hover {
          color: white;
          &::before {
            width: 45px;
            height: 45px;
          }
        }
        a {
          color: inherit !important;
          padding: 10px;

          i {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.errorMessage {
  color: red;
  font-weight: 300;
  font-size: 16px;
}
