.key_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_text {
    margin: 0 auto;
    max-width: $text-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &_cards {
    max-width: $text-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .key_skills_card {
      margin: 20px;
      clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
      background-color: $bg-color;
      width: 140px;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
