.myWork {
  margin: 0 auto;
  &_projects_wrapper {
    max-width: $text-width;
    margin: 0 auto;

    .myWork_project {
      margin: 45px 0;
      border-bottom: 1.5px solid gray;
      .project_title {
        color: $main-blue;
        font-size: 25px;
        align-self: flex-start;
      }
      .project_img {
        position: relative;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover .project_links {
          transform: translate(-50%, 0);
        }
        img {
          width: 100%;
          max-width: 600px;
          margin: 15px 0;
        }
        .project_links {
          display: block;
          position: absolute;
          left: 50%;
          top: 0;
          width: 100%;
          max-width: 600px;
          height: 100%;
          transform: translate(-50%, -105%);
          background-color: rgba($color: #000000, $alpha: 0.8);
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          transition: 0.2s all ease-out;

          .project_link {
            border: 2px solid white;
            border-radius: 20px;
            margin: 0 30px;
            background-color: $main-blue;
            transition: 0.2s all ease-in;

            &:hover {
              background-color: white;
              border: 2px solid $main-blue;
              & i {
                color: $main-blue;
              }
            }
            i {
              font-size: 30px;
              color: white;
              padding: 10px 30px;
              transition: 0.2s all ease-in;
            }
          }
        }
      }

      .porject_content {
        .project_technologies {
          text-align: right;
          margin-top: 20px;
          span {
            margin-right: 10px;
            color: $main-blue;
          }
        }
      }
    }
  }
}
